.register-loading {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.gicon {
    margin-right: 5px;
}

.googleButton {
    border-width: 5px;
    width: 100%;
    height: 50px;
}

.form {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    margin: auto;
    height: 50vh;
}

.input-fields {
    width: 100%;
    display: flex;
    height: 25vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.registerButton {
    background-color: black;
    width: 130px;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 10px;
    margin: 15px;
}

.registerButton:focus {
    outline: none;
}

.log-in-button {
    background-color: white;
    outline: none;
    border: none;
    font-weight: 900;
}

.log-in-button:focus {
    outline: none;
}

@media (max-width:600px) {
    .form {
        width: 80%;
        height: 62vh;
    }

    .input-fields {
        height: 45vh;
    }

    .googleButton {
        height: 70px;
    }
}