.slick-center img{
    transform: scale(1.5);
    margin: auto;
    height: 200px;
}

.image-size {
    width: 400px;
}

.artworkslider {
    margin-top: 5em;
}

@media (min-width:1401px) {
    .slick-center img{
        transform: scale(1.1);
        height: 500px;
        margin: auto;    
    }
}

@media (min-width:1000px) and (max-width:1400px) {
    .slick-center img{
        transform: scale(1.1);
        height: 400px;
        margin: auto;    
    }
}

@media(min-width:575px) and (max-width:999px) {
    .slick-center img{
        transform: scale(1.1);
        height: 200px;
        margin: auto;    
    }
}