.dashboard-mobile-screen {
    /* border: 1px solid red; */
}

.dashboard-tab:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.information-mobile {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information-updates {
    /* border: 1px solid green; */
    /* position: absolute;
    bottom: 0; */
}