.container {
    max-width: 80%;
}

.container-2 {
    max-width: 90%;
    margin: auto;
}

.section {
    margin-top: 7em;
}

img {
    max-width: 100%;
}


.paletteTitle {
    height: 100vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../assets/images/Desktop-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.downArrow {
    justify-content: flex-end;
    bottom: 0;
    position: absolute;
    margin-bottom: 1em;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.solveProblemImage {
    margin: 20px;
}

.regText {
    margin: 30px;
}

.content-para {
    font-size: 1.2em;
    margin-top: 2em;
}

.para-space {
    margin-top: 3em;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkedin-link {
    color: black;
    text-decoration: none;
}

.linkedin-link:hover {
    color: black;
    border: none;
    border-bottom: 1px solid #E6E681;
}

.endSection {
    margin-top: 8em;
    padding-top: 8em;
    background-color: black;
    color: white;
}

@media (max-width:575px) {
    .paletteTitle {
        background-image: url('../assets/images/Mobile-bg.svg');
    }
}