.loading-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
}

#videoBG {
    position:fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    left: 0;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.adding-margin {
    padding-top: 5em;
}
   

.container {
    max-width: 80%;
}

.container-2 {
    max-width: 90%;
    margin: auto;
}

.section {
    margin-top: 7em;
}

img {
    max-width: 100%;
}


.paletteTitle {
    height: 100vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.downArrow {
    justify-content: flex-end;
    bottom: 0;
    position: absolute;
    margin-bottom: 1em;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.solveProblemImage {
    margin: 20px;
}

.regText {
    margin: 30px;
}

.content-para {
    font-size: 1.2em;
    margin-top: 2em;
}

.para-space {
    margin-top: 3em;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkedin-link {
    color: black;
    text-decoration: none;
}

.linkedin-link:hover {
    color: black;
    border: none;
    border-bottom: 1px solid #E6E681;
}

.endSection {
    margin-top: 8em;
    padding-top: 8em;
    background-color: black;
    color: white;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.register-or-login-button {
    margin-top: 2em;
}

.log-in-button {
    background-color: white;
    outline: none;
    border: none;
    font-weight: 900;
}

.log-in-button:focus {
    outline: none;
}

@media(max-width:1200px) {
    .paletteTitle {
        background-image: url('../assets/images/Desktop-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #videoBG {
        opacity: 0;
    }
}

@media (max-width:575px) {
    .paletteTitle {
        background-image: url('../assets/images/Mobile-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #videoBG {
        opacity: 0;
    }
}

