.navbar {
    background-color: white;
}

.navbar-buttons {
    margin-right: 30px;
}

.nav-button {
    color: black;
    margin-right: 10px;
}

.register-button {
    color: white;
    background-color: black;
    border-radius: 12px;
}