.register-loading {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.LandingPageForm {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
    height: 400px;
    border: 1px solid red;
}

.Landing-gicon {
    margin-right: 5px;
}

.Landing-googleButton {
    border-width: 5px;
    width: 100%;
    height: 50px;
}

.Landing-input-fields {
    width: 100%;
    display: flex;
    height: 210px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid blue;
}

.Landing-registerButton {
    background-color: black;
    width: 130px;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 10px;
    margin: 15px;
}

.Landing-registerButton:focus {
    outline: none;
}


@media (max-width:600px) {
    .LandingPageLoginForm {
        width: 80%;
    }

    .googleButton {
        height: 70px;
    }
}