.navbar-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
}

.navbar-buttons-dashboard {
    background-color: white;
    outline: none;
    border: none;
}

.navbar-buttons-dashboard:focus {
    outline: none;
}

@media (max-width:575px) {
    .navbar-component {
        padding: 1em 2em;
    }
}

@media (max-width:400px) {
    .navbar-component {
        padding: 1em 1em;
    }
}