.collaborator {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10em;
    margin-bottom: 4em;
}

.collaborator-image {
    background-color: white;
    border-radius: 23px;
    width: 40px;
    margin-bottom: 1em;
}

.collaborator-link {
    color: #000;
}

.collaborator-link:hover {
    color: black;
}

@media(max-width:575px) {
    .collaborator {
        flex-direction: column;
        height: 200px;
        padding: 0 0;
    }
}